.genre-cmp {
  .genre-name {
    margin: 30px;
    font-size: 40px;
    font-weight: bold;
  }
  .genre-logo {
    border: 1pt solid black;
    width: 500px;
    height: 500px;
    margin: 20px;
  }
  .films {

    margin: 20px;
    width: 1040px;

  }

}
