<div class="film-cmp">
  <div class="film-name">
    {{film.name}}
  </div>
  <div fxLayout="row" fxLayoutGap="200px">
    <div class="film-logo"></div>
    <div class="film-info">
      film info
      <div>release date: {{film.release_date}}</div>
      <div>country: {{film.country}}</div>
      <div>time: {{film.time}}</div>
      <div>genre: {{film.genre}}</div>
    </div>
  </div>
  <div class="actors">
    actors: {{film.actors}}
  </div>
  <div class="description">
    description
  </div>
</div>
