.app-cmp {

  .content {
    height: 100vh;
    margin: 16px 16px 16px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightgray;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  mat-sidenav-container {
  }


}

