.app-cmp {


  mat-sidenav-container {
    height: 100vh;
    margin: 16px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }


}

