<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'"
          (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>
  </button>
  <span class="header-label">FILM BOX</span>
</mat-toolbar>
<mat-sidenav #sidenav="matSidenav">
  <img src="../assets/logo.png">
  <mat-divider></mat-divider>
  <a routerLink="/" (click)="sidenav.toggle()">
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Главная</span>
    </button>
  </a>
  <mat-divider></mat-divider>
  <a routerLink="/actors" (click)="sidenav.toggle()">
    <button mat-button class="menu-button">
      <mat-icon>person_outline</mat-icon>
      <span>Актеры</span>
    </button>
  </a>
  <a routerLink="/films" (click)="sidenav.toggle()">
    <button mat-button class="menu-button">
      <mat-icon>local_movies</mat-icon>
      <span>Фильмы</span>
    </button>
  </a>
  <a routerLink="/genres" (click)="sidenav.toggle()">
    <button mat-button class="menu-button">
      <mat-icon>event_note</mat-icon>
      <span>Жанры</span>
    </button>
  </a>
</mat-sidenav>
