.films-cmp {
.outerContainer {
  padding: 5px;
  box-sizing: content-box;
  border: 1px solid black;
}

.container {
  display: flex;
  flex-flow: row wrap;

  div {
    height: 300px;
    width: 300px;
    margin: 20px;
    border: 1px solid black;
  }

}

.content {
}
}
