<div class="outerContainer">
  <div class="content">
    <div class="container" fxLayout="row wrap" fxLayoutAlign="end">
      <a routerLink="/film">
        <div fxLayoutAlign="center center">1</div>
      </a>
      <div fxLayoutAlign="center center">2</div>
      <div fxLayoutAlign="center center">3</div>
      <div fxLayoutAlign="center center">4</div>
      <div fxLayoutAlign="center center">5</div>
      <div fxLayoutAlign="center center">6</div>
      <div fxLayoutAlign="center center">7</div>
      <div fxLayoutAlign="center center">8</div>
    </div>
  </div>
</div>
