.actor-cmp {
  .actor-name {
    margin: 30px;
    font-size: 40px;
  }
  .actor-foto {
    border: 1pt solid black;
    width: 500px;
    height: 500px;
    margin: 20px;
  }
  .actor-info {
    margin: 20px;
  }
  .films {
    margin: 30px;
  }
  .description{
    margin: 30px;
  }
}
